.container {
    background-color: #C45A5A;
    font-size: 1rem;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #f5f5f5;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    font-weight: bold;
}

.container:hover {
    cursor: pointer;
}

@media (max-width: 768px) {}

@media (max-width: 375px) {
}