.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.box {
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #43494c 1px solid;
    border-radius: 4px;
    background-color: #222222;
}

.btnBox {
    width: 30%;
    height: 100%;
    margin: 0.4rem;
}

.cfBox {
    width: 90%;
    height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.msg {
    font-size: 0.6rem;
    color: red;
    width: 90%;
    height: 2%;
    text-align: end;
    margin: 0;
}

.file {
    margin: 1rem 0 0 0;
    background-color: #333333;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 6%;
    margin: 1rem 0;
}

@media (max-width: 768px) {
    .box {
        width: 90%;
        height: 60%;
    }
}

@media (max-width: 375px) {
    .box {
        width: 80%;
        height: 50%;
        padding: 0.5rem;
    }
}