.container {
    width: 60%;
    height: 90%;
    border: #43494c solid 1px;
    background-color: #222222;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contentBox::-webkit-scrollbar {
    display: none;
}

.titleBox {
    width: 100%;
    height: 8%;
    background-color: #333333;
    display: flex;
    align-items: center;
    border-bottom: #43494c solid 1px;
}

.title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1rem;
    font-size: 1.2rem;
}

.between {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    border-bottom: 1px solid #43494c;
}

.mainBox {
    width: 100%;
    height: 100%;
}

.ciBox {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dateBox {
    height: 100%;
    display: flex;
    align-items: center;
}

.btnBox {
    width: 15%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.p {
    padding: 0 1rem;
}

.imgBox {
    width: 100%;
    margin: 0 1rem;
}

.img {
    max-width: 100%;
}

.contentBox {
    width: calc(100% - 2rem);
    padding: 0 1rem;
}

.content {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.5rem;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .btnBox {
        width: 30%;
    }
}

@media (max-width: 375px) {
}