.container {
    width: 60%;
    height: 100%;
    border: #43494c solid 1px;
    background-color: #222222;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    border-bottom: #43494c solid 1px;
}

.user {
    margin: 0 0 0 20px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    width: 20%;
    height: 50%;
    display: flex;
    padding: 0 0.2rem;
}

.between {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p {
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.img {
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0 0 0 10px;
}

.table {
    border-bottom: #43494c solid 1px;
    border-top: #43494c solid 1px;
    width: 100%;
}

.thead {
    font-size: 1rem;
    width: 100%;
}

.tr {
    background-color: #333333;
    width: 100%;
}

.th1 {
    width: 8%;
}

.th2 {
    width: 65%;
}

.th3 {
    width: 8%;
}

.tr:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .user {
        width: 20%;
    }
    .p {
        font-size: 1rem;
    }
}