.container {
    width: 90%;
    display: flex;
    margin: 0.8rem 0;
    align-items: center;
}

.label {
    font-weight: bold;
    font-size: 1rem;
    width: 30%;
    color: #f5f5f5;
}

.input {
    background-color: #f5f5f5;
    border: #f5f5f5 solid 1px;
    border-radius: 4px;
    height: 100%;
    width: 70%;
    color: #43494c;
    font-size: 1rem;
}

@media (max-width: 768px) {

}

@media (max-width: 375px) {

}