.container {
    width: 30%;
    height: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #43494c 1px solid;
    border-radius: 4px;
    background-color: #222222;
}

.msg {
    font-size: 0.6rem;
    color: red;
    width: 90%;
    height: 10%;
    text-align: center;
    margin: 4px 0 16px 0;
}

.box {
    width: 30%;
    height: 12%;
    margin: 0.4rem 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 375px) {}