.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 4%;
    margin: 2rem;
}

.box {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 375px) {}