.container {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #43494c 1px solid;
    border-radius: 4px;
    background-color: #222222;}

.box {
    width: 30%;
    height: 10%;
    margin: 0.4rem 0;

}

.msg {
    font-size: 0.6rem;
    color: red;
    width: 90%;
    height: 4%;
    text-align: end;
}

.msgResult {
    font-size: 0.6rem;
    color: red;
    width: 90%;
    height: 4%;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 375px) {}